@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  /* width: 100vw; */
  overflow-x: hidden; /* Ensure no horizontal scrolling */
}

header {
  width: 100vw;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171717;
  color: #fff;
  padding: 10px 50px;
}

.left-side {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#logo {
  width: auto;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
  /* border: 1px solid #777; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 10px;
}

#embedded-player {
  background-color: #333;
  width: 50px;
  height: 50px;
  padding: 12px;
  /* border: 1px solid #777; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

#embedded-player:hover {
  background-color: #242424;
}

#toggle {
  background-color: #333;
  width: 50px;
  height: 50px;
  padding: 12px;
  /* border: 1px solid #777; */
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
}

#toggle:hover {
  background-color: #242424;
}

.menu {
  width: 100vw;
  min-height: calc(100vh - 6rem);
  /* background-color: whitesmoke; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container {
  margin: 0;
  padding: 0;
}

.controls-container .emotion-radios {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; /* Firefox */
  border-radius: 10px solid #fff;
}

.controls-container .emotion-radios::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.emotion-radios .radio {
  display: flex;
  flex-direction: column;
  width: 19rem;
  height: 21rem;
  border-radius: 10rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
}

.album-img {
  border-radius: 25px;
  height: 100%;
  overflow: hidden;
}

.radio .album-img img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  object-fit: cover;
  object-position: center;
}

.radio .radio-items,
label {
  position: absolute;
}

.radio label {
  color: #fff;
  left: 0;
  right: 0;
  bottom: 6rem;
  letter-spacing: 1rem;
  font-weight: 800;
  font-size: 1.7rem;
  font-family: "Comic Neue", cursive;
  font-style: italic;
  filter: drop-shadow(2px -2px #000);
}

.radio .radio-items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
}

input[type="radio"] {
  cursor: pointer;
  display: none;
}

.play-song-btn {
  background-color: #0d6efd;
  padding: 8px;
  padding-left: 0.6875rem; /* <=11px */
  width: 3rem;
  height: 3rem;
  color: #f5e8e6;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.play-song-btn:hover,
.play-song-btn:focus {
  /* box-shadow: 0px 0px 18px #fd631c; */
  box-shadow: 0px 0px 18px #0d6efd;
}

/* modal */
.song-modal {
  display: none; /* flex when displayed */
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
  height: 10vh;
  border: none;
}

.mood-song {
  width: 100vw;
  border: none;
}

.song-modal-button-div {
  position: fixed;
  bottom: 19vh;
  width: 100vw;
  z-index: 1;
  display: flex;
  padding: 10px;
  place-items: center;
}

.song-modal-close-btn {
  /* font-size: 1.3rem; */
  background-color: #fff;
  padding: 10px;
  padding-bottom: 6px;
  border: none;
  border-radius: 50%;
  margin: auto;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.3);
}

.song-modal-close-btn svg {
  object-fit: cover;
  object-position: center;
  width: 30px;
  height: 30px;
  fill: #fff;
  cursor: pointer;
  fill: #bd301d;
}

@media screen and (min-width: 1367px) {
  .controls-container .emotion-radios {
    gap: 45px;
  }

  .emotion-radios .radio {
    width: 26rem;
    height: 28rem;
  }
}

@media screen and (max-width: 1360px) {
  .controls-container .emotion-radios {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .controls-container .emotion-radios {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .header {
    width: 100vw;
  }

  label {
    font-size: 1rem;
  }

  .controls-container {
    padding: 1em;
    width: 80vw;
    margin: auto;
  }

  .logo-text {
    font-size: 1rem;
    text-align: center;
  }

  .play-song-btn {
    font-size: 1rem;
    margin-top: 14px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }

  .header {
    height: 5rem;
    padding: 15px;
  }

  .left-side {
    gap: 8px;
  }

  .right-side {
    gap: 10px;
  }

  .controls-container {
    width: 100vw;
  }

  .controls-container .emotion-radios {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
  }

  .song-modal-button-div {
    bottom: 15vh;
  }

  .song-modal-close-btn {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  }

  .emotion-radios .radio {
    width: 100%;
    height: calc(100vw - 2rem); 
    /* width: 100%; height: 100vw; makes it a square idiot */
    border-radius: 25px;
  }
}

@media screen and (max-height: 800px) and (min-height: 799px),
  screen and (max-height: 600px) and (min-height: 599px) {
  .controls-container .emotion-radios {
    margin: 40px 0px;
  }
}